<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ru426.android.xposed.parts.quick_settings_toggle"
    android:installLocation="internalOnly"
    android:sharedUserId="com.ru426.android.xposed.regxm"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="18" />
    
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.CAMERA" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >
        <activity
            android:name=".Settings"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.ru426.android.xposed.intent.action.PLUGIN_SETTINGS" />
            </intent-filter>
            <meta-data android:name="description" android:value="@string/app_desc" />
            <meta-data android:name="category" android:value="@string/ru_category_systemui_tools" />
        </activity>
        <activity
            android:name=".BrightnessToolModule"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.ru426.android.xposed.intent.action.PLUGIN_MODULES" />
            </intent-filter>
            <meta-data android:name="targetpackagename" android:value="com.android.systemui" />
        </activity>
        <activity
            android:name=".FlashLightToolModule"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.ru426.android.xposed.intent.action.PLUGIN_MODULES" />
            </intent-filter>
            <meta-data android:name="targetpackagename" android:value="com.android.systemui" />
        </activity>
        
        <activity android:label="@string/app_name" android:name=".tools.BrightnessDialog" android:theme="@style/RuDialogDark" android:excludeFromRecents="true" android:launchMode="singleInstance" />
        <activity android:label="@string/app_name" android:name=".tools.FlashlightActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:excludeFromRecents="true" android:launchMode="singleInstance" />
        <receiver android:name=".ThemeChangedReceiver">
            <intent-filter>
                <action android:name="com.ru426.android.xposed.intent.action.PLUGIN_THEME_SETTINGS_CHANGE"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>